# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.

# folders
_data/
.github/
bin/
config/
e2e/
hack/

# files
.envrc
.gitignore
.goreleaser.yaml
CODE_OF_CONDUCT.md
docker-compose.yaml
Dockerfile
Dockerfile.dev
LICENSE
Makefile
PROJECT.md
README.md
SECURITY.md
