version: '3.9'
services:
  db:
    image: mariadb:10.3
    restart: always
    container_name: db
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
      MYSQL_DATABASE: "passbolt"
      MYSQL_USER: "passbolt"
      MYSQL_PASSWORD: "P4ssb0lt"
    networks:
      - passbolt
    ports:
      - 13306:3306
    volumes:
      - mysql:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin
    restart: always
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306
      - PMA_USER=passbolt
      - PMA_PASSWORD=P4ssb0lt
    networks:
      - passbolt
    ports:
      - 8089:80

  passbolt:
    image: passbolt/passbolt:3.8.3-2-ce-non-root
    restart: unless-stopped
    container_name: passbolt
    user: "33:33"
    depends_on:
      - db
    environment:
      APP_FULL_BASE_URL: http://${HOSTNAME}:8088
      DATASOURCES_DEFAULT_HOST: "db"
      DATASOURCES_DEFAULT_USERNAME: "passbolt"
      DATASOURCES_DEFAULT_PASSWORD: "P4ssb0lt"
      DATASOURCES_DEFAULT_DATABASE: "passbolt"
    networks:
      - passbolt
    volumes:
      - ./_data/pb_gpg:/etc/passbolt/gpg
      - ./_data/pb_jwt:/etc/passbolt/jwt
    #command: ["/usr/bin/wait-for.sh", "-t", "0", "db:3306", "--", "/docker-entrypoint.sh"]
    ports:
      - 8088:8080
      - 4433:4433

networks:
  passbolt:
    driver: bridge

volumes:
  mysql:
