version: '3.9'
services:
  db:
    image: mariadb:10.3
    restart: unless-stopped
    container_name: db
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
      MYSQL_DATABASE: "passbolt"
      MYSQL_USER: "passbolt"
      MYSQL_PASSWORD: "P4ssb0lt"
    networks:
      - passbolt
    volumes:
      - ./_data/pb_db:/var/lib/mysql

  passbolt:
    image: passbolt/passbolt:latest-ce-non-root
    restart: unless-stopped
    container_name: passbolt
    depends_on:
      - db
    environment:
      APP_FULL_BASE_URL: http://localhost:8088
      DATASOURCES_DEFAULT_HOST: "db"
      DATASOURCES_DEFAULT_USERNAME: "passbolt"
      DATASOURCES_DEFAULT_PASSWORD: "P4ssb0lt"
      DATASOURCES_DEFAULT_DATABASE: "passbolt"
    networks:
      - passbolt
    volumes:
      - ./_data/pb_gpg:/etc/passbolt/gpg
      - ./_data/pb_jwt:/etc/passbolt/jwt
    command: ["/usr/bin/wait-for.sh", "-t", "0", "db:3306", "--", "/docker-entrypoint.sh"]
    ports:
      - 8088:8080
      - 4433:4433

networks:
  passbolt:
    driver: bridge