# permissions for end users to view passboltsecrets.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: passboltsecret-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: kubernetes-passbolt-operator
    app.kubernetes.io/part-of: kubernetes-passbolt-operator
    app.kubernetes.io/managed-by: kustomize
  name: passboltsecret-viewer-role
rules:
- apiGroups:
  - passbolt.tagesspiegel.de
  resources:
  - passboltsecrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - passbolt.tagesspiegel.de
  resources:
  - passboltsecrets/status
  verbs:
  - get
