apiVersion: passbolt.tagesspiegel.de/v1alpha1
kind: PassboltSecret
metadata:
  labels:
    app.kubernetes.io/name: passboltsecret-sample-v1alpha1
    app.kubernetes.io/instance: passboltsecret-sample-v1alpha1-v1alpha1
    app.kubernetes.io/part-of: kubernetes-passbolt-operator
    app.kuberentes.io/managed-by: kustomize
    app.kubernetes.io/created-by: kubernetes-passbolt-operator
  name: passboltsecret-sample-v1alpha1
spec:
  leaveOnDelete: false
  secrets:
    - kubernetesSecretKey: s3_access_key
      passboltSecret:
        name: APP_EXAMPLE
        field: username
    - kubernetesSecretKey: s3_secret_key
      passboltSecret:
        name: APP_EXAMPLE
        field: password
    - kubernetesSecretKey: s3_endpoint
      passboltSecret:
        name: APP_EXAMPLE
        field: uri