apiVersion: passbolt.tagesspiegel.de/v1alpha2
kind: PassboltSecret
metadata:
  labels:
    app.kubernetes.io/name: passboltsecret
    app.kubernetes.io/instance: passboltsecret-sample
    app.kubernetes.io/part-of: kubernetes-passbolt-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: kubernetes-passbolt-operator
  name: passboltsecret-sample
spec:
  leaveOnDelete: false
  secrets:
    - kubernetesSecretKey: s3_access_key
      passboltSecret:
        name: APP_EXAMPLE
        field: username
    - kubernetesSecretKey: s3_secret_key
      passboltSecret:
        name: APP_EXAMPLE
        field: password
    - kubernetesSecretKey: s3_endpoint
      passboltSecret:
        name: APP_EXAMPLE
        field: uri
    - kubernetesSecretKey: dsn
      passboltSecret:
        name: APP_EXAMPLE
        value: postgres://{{.username}}:{{.password}}@{{.uri}}/passbolt
