name: release

on:
  push:
    tags:
      - 'v*'
    branches:
      - feature/ci-release-pipeline

env:
  go_version: 1.19

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GOPRIVATE: "github.com/leonsteinhaeuser/*"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ env.GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.go_version }}

      - name: docker login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cleanup
        if: always()
        shell: bash
        run: |
          docker rmi $(docker images -q) --force
          sudo rm -rf dist/
